@theme {
  --text-12: 0.75rem; /* 12px */
  --text-13: 0.8125rem; /* 13px */
  --text-14: 0.875rem; /* 14px */
  --text-16: 1rem; /* 16px */
  --text-18: 1.125rem; /* 18px */
  --text-20: 1.25rem; /* 20px */
  --text-24: 1.5rem; /* 24px */
  --text-32: 2rem; /* 32px */

  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
}

@utility typo-12-medium {
  font-size: var(--text-12);
  font-weight: var(--font-weight-medium);
}

@utility typo-12-semibold {
  font-size: var(--text-12);
  font-weight: var(--font-weight-semibold);
}

@utility typo-12-bold {
  font-size: var(--text-12);
  font-weight: var(--font-weight-bold);
}

@utility typo-13-medium {
  font-size: var(--text-13);
  font-weight: var(--font-weight-medium);
}

@utility typo-13-semibold {
  font-size: var(--text-13);
  font-weight: var(--font-weight-semibold);
}

@utility typo-13-bold {
  font-size: var(--text-13);
  font-weight: var(--font-weight-bold);
}

@utility typo-14-medium {
  font-size: var(--text-14);
  font-weight: var(--font-weight-medium);
}

@utility typo-14-semibold {
  font-size: var(--text-14);
  font-weight: var(--font-weight-semibold);
}

@utility typo-14-bold {
  font-size: var(--text-14);
  font-weight: var(--font-weight-bold);
}

@utility typo-16-medium {
  font-size: var(--text-16);
  font-weight: var(--font-weight-medium);
}

@utility typo-16-semibold {
  font-size: var(--text-16);
  font-weight: var(--font-weight-semibold);
}

@utility typo-16-bold {
  font-size: var(--text-16);
  font-weight: var(--font-weight-bold);
}

@utility typo-18-medium {
  font-size: var(--text-18);
  font-weight: var(--font-weight-medium);
}

@utility typo-18-semibold {
  font-size: var(--text-18);
  font-weight: var(--font-weight-semibold);
}

@utility typo-18-bold {
  font-size: var(--text-18);
  font-weight: var(--font-weight-bold);
}

@utility typo-20-medium {
  font-size: var(--text-20);
  font-weight: var(--font-weight-medium);
}

@utility typo-20-semibold {
  font-size: var(--text-20);
  font-weight: var(--font-weight-semibold);
}

@utility typo-20-bold {
  font-size: var(--text-20);
  font-weight: var(--font-weight-bold);
}

@utility typo-24-medium {
  font-size: var(--text-24);
  font-weight: var(--font-weight-medium);
}

@utility typo-24-semibold {
  font-size: var(--text-24);
  font-weight: var(--font-weight-semibold);
}

@utility typo-24-bold {
  font-size: var(--text-24);
  font-weight: var(--font-weight-bold);
}

@utility typo-32-medium {
  font-size: var(--text-32);
  font-weight: var(--font-weight-medium);
}

@utility typo-32-semibold {
  font-size: var(--text-32);
  font-weight: var(--font-weight-semibold);
}

@utility typo-32-bold {
  font-size: var(--text-32);
  font-weight: var(--font-weight-bold);
}
