@import "tailwindcss";
@import "./colors.css";
@import "./fonts.css";
@import "./z-index.css";
@import "./Input.css";

@theme inline {
  --color-background: #ffffff;
  --font-sans: var(--font-pretendard), sans-serif;
}

@utility scrollbar-none {
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

body {
  font-family: var(--font-pretendard), sans-serif;
  color: var(--color-gray-900);
}
